.grid {
}

.row {
  display: flex;
}

.cell {
  background-color: lightgray;
  border: 1px black solid;
  height: 40px;
  width: 40px;
  text-align: center;
}

.hidden {
  background-color: darkgray;
  height: 100%;
  width: 100%;
  display: block;
}
